a.item {
  font-family: "Tajawal, sans-serif";
  font-size: 20px;
  height: 50px;
  font-weight: 200;
}

.ui.menu .item {
  font-weight: 200;
}

div.text {
  font-weight: 200;
  font-size: 20px;
}
div.ui.dropdown.link.item div.text {
  font-size: 20px;
}

div {
  height: auto;
}
