.react-icon {
  animation: React-logo-spin infinite 20s linear;
  pointer-events: none;
}
.react-ico {
  animation: React-logo-spin infinite 20s linear;
  pointer-events: none;
}
.postgresql {
  color: #336791;
}
div.text {
  font-size: 15px;
}
img.icon {
  height: 80px;
}
div.ui.grid.container.cards {
  display: flex;
  flex-direction: row;
  width: auto;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 462px) {
  img.icon {
    height: 35px;
  }
  div.text {
    font-size: 12px;
  }
}
@media (min-width: 463px) and (max-width: 769px) {
}
@media (min-width: 769px) {
}
